/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@import './components/Login/Login.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}


li {
  list-style: none;
}

:root {
  --themeBlueOxford: #031d44;
  --themeBlueIndigo: #04395e;
  --themeGreenPollished: #70a288;
  --themeBeigeWood: #dab785;
  --themePinkCopped: #d5896f;
}

.flex-center {
  display: flex;
  justify-content: center;
}